@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

body {
    font-family: "Crimson Text", sans-serif;
}

header {
    text-align: center;
    font-size: xx-large;
    background-color: burlywood;
}

h1 {
    
}