@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #3a3a3a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Crimson Text', sans-serif ;
}

header {
    border: inset 3px rgba(49, 47, 47, 0.575);
    color: antiquewhite;
    background-color: rgb(92, 73, 49);
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; 
}

header a {
    text-decoration: none;
    color:black
}
h1 {
    color: antiquewhite; 
}

main {
    flex: 1 0 auto;
    background-color: aqua;
}

#menu {
    font-size: large;
    list-style-type: none; 
}

#menu > li {
    margin-bottom: 1em;
    
}

.home {
    border: outset 3px black;
}

nav {
    position: absolute;
    background-color: rgb(92, 73, 49);
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    padding: 0 1rem;
    display: none;
}

footer {

}